
@import './../../../scss/index.scss';

.footer{
    background-color: $background-dark-light-web ;
    border-top: 2px solid $primary-color;
    opacity: 0.8;
    

    &__copyright{
        margin-top: 30px;

        .ant-col{
            color : $primary-color-dark;
         

            &:last-of-type {
                 text-align: right;
            }

        }
    }

}