@import '../../../../scss/index.scss';

.add-edit-course-form{
    text-align: center;

    .ant-form-item{
        margin-top: 15px;
        margin-bottom: 15px;

        i{
            color: rgba(0,0,0,0.85);
        }
    }

    .btn-submit{
        width: 100%;
    }
}