.add-user-form{

    .form-add{
        text-align: center;

        .ant-form-item {

            margin-top: 5 px;
            margin-bottom: 5 px ;

            i{
                color: rgba(0,0,0,0.25);
            }
        }
        .btn-submit{
            width: 100% ;
        }



}





}
